{
  "hooks": {
    "pre-commit": "lint-staged",
    "pre-push": "yarn test"
  },
    "lint-staged": {
    "*.{js,vue,ts}": [
      "yarn run prettier-format && yarn run lint",
      "git add"
    ],
    "*.{scss}": [
      "yarn run prettier-format",
      "git add"
    ]
  }
}
